<!DOCTYPE html>
<html>
<head>
    <title>Add Employee Details</title>
</head>
<body>
    <h1>Employee Details</h1>
    <form action="/emp" method="POST">
        <label for="Name">Name:</label><br>
        <input type="text" id="Name" name="Name"><br>
        <label for="Age">Age:</label><br>
        <input type="text" id="Age" name="Age"><br>
        <label for="Designation">Designation:</label><br>
        <input type="text" id="Designation" name="Designation"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
